PassengerAppRoot /home/u967105144/domains/whitesmoke-jay-438498.hostingersite.com/nodejs
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs22/root/bin/node
PassengerStartupFile server.js
PassengerBaseURI /
PassengerRestartDir /home/u967105144/domains/whitesmoke-jay-438498.hostingersite.com/nodejs/tmp
SetEnv NODE_OPTIONS "--use-system-ca"
SetEnv LSNODE_CONSOLE_LOG console.log
RewriteRule ^\.builds - [F,L]
